<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dbIp" value="localhost"/>
		<add key="dbName" value="anadb"/>
		<add key="dbUser" value="stationpi"/>
		<add key="dbPass" value="HYbrazil2009"/>
		<add key="brokerip" value="192.168.85.136"/>
		<add key ="brokerUserName" value="hybrazil"/>
		<add key ="brokerPass" value="Cor.0011125C51000"/>
		<add key="modbusip" value="192.168.85.136"/>
		<add key ="dbPath" value="C:\\correio\\"/>
		<add key ="logPath" value="C:\\correio\\stationlogs\\"/>
		<add key ="dbFileName" value="dbdata.csv"/>
		<add key ="stationName" value="RpiFonseca"/>
		<add key ="stationUser" value="06095671000160"/>
		<add key ="stationPass" value="xUPQxknp"/>
		<add key ="stationcodFlu" value="21842000"/>
		<add key ="stationcodPlu" value="21452222"/>
		<add key ="IOMode" value="0"/> <!-- 0:Digirail | 1: RION-->
	</appSettings>
</configuration>